.App {
    text-align: center;
}

.App div {
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    align-items: center;
}

.App button {
    padding: 0.7em 2.5em;
    height: 38px;
    background-color: #966bd6;
    border: none;
    cursor: pointer;
}

.App button:hover {
    background-color: #bb98f0;
}

.App button:active {
    background-color: #844ed6;
}